$greyColor:  #c8c5d1;
$mainBtnColor: #9873ff;
$btnHoverColor: #B89EFF;
$btnActiveColor: #8052FF;
$lightTextColor: #b0b0b0;
$errorTextColor: #F06A4D;
$whiteColor: #ffffff;
$darkGreyColor: #333333;
$contactBackgroundColor: #e7e5eb;
$contactBackgroundColor50: #e7e5eb80;
$contactsContainerColor: #c8c5d133;
$lightGrayColor: #F4F3F6;